
/*---------- Google fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.new-year-banner{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}

.new-year-content{
    position: absolute;
    top: 30%;
    left: 41%;
    
}

.new-year-content h1{
    font-size: 50px;
    font-weight:900;
}


/*  */
.offer{
    font-size: 50px;
    font-weight: 900;
    color: red;
}

.deals{
    color: red;
}
.categories{
    color: black;
    font-size: 30px;
    margin-bottom: 50px;
}

/*  */

.party-banner{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}
.party-banner-description{
    position: absolute;
    text-align: left;
    top: 16%;
    left: 20%;
}

.party-banner-description h1{
    font-size: 40px;
    font-weight: 800;
}

.party-banner-description p{
    font-size: 20px;
}

.btn{
    margin: 5px;
    padding: 15px;
    color: #FFFFFF;
    background-color:orangered;
    border: 0;
    font-size: 20px;
    font-weight: 800;
}

/* ------------- */

.schedule-banner{
    position: relative;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 100px;
}

.schedule-banner-description{
  width: 80%;
  height: 100%;
  padding: 15px;
  background-color: #D9D2D2;
  box-shadow: 10px ;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px
  ;
 
}

.heading-des{
    color: orangered;
}


/* ---------------- */

.new-offer-banner{
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-bottom: 100px;
}

.new-offer-banner h5{
    color: orangered;
    font-size: 18px;
}
.new-offer-banner h1{
    font-size: 40px;
}
 .year{
    color: orangered;
    font-size: 40px;
    font-weight: 900;
}