
/*---------- Google fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



.new-year-banner{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}

.new-year-content{
    position: absolute;
    top: 30%;
    left: 41%;
    
}

.new-year-content h1{
    font-size: 50px;
    font-weight:900;
}


/*  */
.offer{
    font-size: 50px;
    font-weight: 900;
    color: red;
}

.deals{
    color: red;
}
.categories{
    color: black;
    font-size: 30px;
    margin-bottom: 50px;
}

/*  */

.party-banner{
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 100px;
}
.party-banner-description{
    position: absolute;
    text-align: left;
    top: 16%;
    left: 20%;
}

.party-banner-description h1{
    font-size: 40px;
    font-weight: 800;
}

.party-banner-description p{
    font-size: 20px;
}

.btn{
    margin: 5px;
    padding: 15px;
    color: #FFFFFF;
    background-color:orangered;
    border: 0;
    font-size: 20px;
    font-weight: 800;
}

/* ------------- */

.schedule-banner{
    position: relative;
    text-align: center;
    margin-left: 300px;
    margin-bottom: 100px;
}

.schedule-banner-description{
  width: 80%;
  height: 100%;
  padding: 15px;
  background-color: #D9D2D2;
  box-shadow: 10px ;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
 
}

.heading-des{
    color: orangered;
}


/* ---------------- */

.new-offer-banner{
    display: flex;
    justify-content: center;
    gap: 220px;
    margin-bottom: 100px;
}

.new-offer-banner h5{
    color: orangered;
    font-size: 18px;
}
.new-offer-banner h1{
    font-size: 40px;
}
 .year{
    color: orangered;
    font-size: 40px;
    font-weight: 900;
}


/* ------------------ */

.holiday-content{
    text-align: center;
    margin-bottom: 50px;
}
.sale-banner{
    display: flex;
    position: relative;
    gap: 50px;
   
    
}
.gift-box{
    position: relative;

    
}

.discount{
    display: flex;  
    position: relative;
   
}
.discount-image{

    position: absolute;
    top: 20px;
    left: 150px;
    
}
.girl{
    position: absolute;
    bottom: 235px;
    left: 320px;

}


.line-banner{
    position: absolute;
    top: 64%;
    left: 15%;

}

/* ------------------------ */
.gift-banner{
    margin-bottom: 100px;
}
.gift-banner-content{
    margin-left: 300px;
    margin-bottom: 50px;
}
.gift-banner-content h4{
    color: orangered;
    font-size: 25px;
}
.gift-banner-content h1{
    font-size: 45px;
    font-weight: 900;
   
}
.gift-banner-content p{
    color: #070211;
    
}
.gift-images{
    
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
}

/* ------------- */

.your-email{
    margin: 20px;
    width: 20%;
    padding: 20px;
    background-color: white;
    border: 0;
    border-radius: 30px;

}

.btn-subscribe{
    margin: 20px;
   
    padding: 20px;
    color: #FFFFFF;
    background-color:orangered;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    border-radius: 30px;
}






/* ------------ */
.footer{
    position: relative;
    text-align: center;
    margin-left: 300px;
   
}
.footer-banner{
    width: 80%;
    height: 100%;
    padding: 15px;
    color: white;
    background-color: #070211;
    box-shadow: 10px ;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-banner-content{
    display: flex;
    justify-content:space-around;
    margin-bottom: 50px;
    
}
.phone-images{
    width: 20px;
}

.line{
    margin-bottom: 50px;
}
.social-image{
    
    margin-bottom: 50px;
    
}
.footer-rights{
    display: flex;
    justify-content: space-around;
}